
@{
    ViewBag.Title = "home";
}
<link href="~/Content/Home/style.css" rel="stylesheet" />
    

<div class="ed_toppadder20 ed_bottompadder20">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="ed_course_single_image">
                            <img src="~/img/Home/home/aboutus1.jpg" alt="event image" />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="ed_event_single_info">
                            <p style="font-weight:bold;font-size:28px;">About Us</p>
                            <div class="ed_abbcart">
                                <p style="font-size:16px;">
                                    Find a Charity You Can Trust.<br /><br />
                                    DonateNeedy is one of the recognized and trusted charity organization in the community. The organization helps bringing community, people and society together with a common mission to serve the needy.<br /><br />
                                    There are several ways and means to help the needy but nothing works better than making a contribution to an organization dedicated to helping poor communities. Not only do you bring about change on the ground, but you also get donation tax benefits as an added advantage. We tell you exactly where your money went and also give you proof of it through a feedback report. We ensure that 100% of your contribution reaches the organization you support.Apart from donation, volunteering, becoming a fundraiser and campaigning for a cause are some other ways to fight the menace of poverty.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="ed_toppadder20 ed_bottompadder20" id="OurMission">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ed_event_single_item">
                    <div class="ed_event_single_info">
                        <p style="margin-bottom:25px;font-weight:bold;font-size:28px;">Mission, Vision and Goals</p>
                        <img src="~/img/Home/home/fundraising1.jpg" alt="fundraising image" style="width:70%;margin-left:15%;" />
                        <div class="row">
                            <div class="ed_event_single_info">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-top:50px;font-size:24px;font-weight:bold;padding-left:5%;">
                                    <p style="padding-left:10px;">Our</p>
                                    <p style="margin-top:-19px;padding-left:10px;">Mission</p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-top:50px;font-weight:bold;font-size:20px;">
                                    <p style="margin-left:150px;">MAKE AN IMPACTFUL</p>
                                    <p style="margin-left:210px;margin-top:-10px;">MEANING TO A LIFE</p>
                                    <p style="margin-left:300px;margin-top:-10px;">AND ITS FOR ALL…</p>
                                </div>
                            </div>
                            <div style="font-size:16px;text-align:justify;text-justify:inter-word;padding-left:69px;padding-right:80px;">
                                <p>You know where your money goes and what it does. We will be part of the movement to make it more impactful, and to clearly share that information with both the donors and beneficiaries to reach to an every single individual and bring the change to the life of needy.</p>
                                <p>Donate Needy is a User friendly portal accessible to anyone with an internet connection. We commit to further improving the user experience and the value you derive from portal, whether you are a donor, charity, foundation etc.</p>
                                <p>We believe kindness is powerful and that by leveraging today's technology, we can help the world by making the best use of humanity's most valuable untapped resource. No one should have to face hardship alone. That's why day by day, dollar by dollar, we are working to create a global giving community on a scale unseen in human history.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="ed_event_single_info">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-top: 60px; font-size: 24px; font-weight: bold; padding-left: 5%;">
                                    <p style="padding-left:10px;">Our</p>
                                    <p style="margin-top:-19px;padding-left:10px;">Vision</p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-top:62px;font-weight:bold;font-size:20px;">
                                    <p style="margin-left:-10%;">A SOCIETY WHERE SERVICE IS INCLUSIVE AND EFFECTIVE</p>
                                </div>
                            </div>
                            <div style="font-size:16px;text-align:justify;text-justify:inter-word;padding-left:69px;padding-right:80px;">
                                <p>We envision a society where each and every individual who wants to bring a change and can help to the society by sharing their interest and play a vibrant role in developing the society that requires a generous help and can make a measurable difference in the community.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="ed_event_single_info">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-top: 60px; font-size: 24px; font-weight: bold; padding-left: 5%;">
                                    <p style="padding-left:10px;">Our</p>
                                    <p style="margin-top:-19px;padding-left:10px;">Goal</p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-top:62px;font-weight:bold;font-size:20px;">
                                    <p style="margin-left:-10%;">SUPPORT, EXPAND  AND EMPOWER ALL</p>
                                </div>
                            </div>
                            <div style="font-size:16px;text-align:justify;text-justify:inter-word;padding-left:69px;padding-right:80px;">
                                <p>To make an impactful awareness and outreach the number of people and organizations who understand and commit to the idea of support to empower each and every individual of the society.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="ed_toppadder20 ed_bottompadder80" id="Work">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ed_bottompadder10">
                <div class="ed_event_single_info">
                    <p style="font-weight:bold;font-size:28px;padding-bottom:5%;">How it Works</p>
                    <div style="margin-left:15%;padding-top:3%;">
                        <img src="~/img/Home/home/Receieve.jpg" alt="work image" style="padding-left:3%;" />
                    </div>
                </div>
                <div style="margin-top:37%;font-size:16px;text-align:justify;text-justify:inter-word;padding-left:69px;padding-right:80px;">
                    <p>DonateNeedy is a fundraising organization that is completely focused on eliminating the hassle of raising money online for your events. Our up to date technology and expert social media network guidance make telling your powerful story easy; sharing it with the widest community simple; and collecting the money worry-free.Thousands of people just like you use DonateNeedy to reach their friends, friends of friends and beyond, convert them to supporters, and raise money for causes close to their heart.</p>
                </div>
            </div>
            <div class="row">
                <div class="ed_event_single_info" style="padding-left:2%;padding-top:5%;margin-left:5%;">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <p style="margin-left:10px;font-size:24px;font-weight:bold;"><u>Step 1</u></p>
                        <p style="margin-left:65px;font-size:20px;font-weight:bold;margin-bottom:1px;margin-top:25px;">Create Your Event</p>
                        <p style="padding-left:67px;font-size:16px;">Create your Donate Needy event for free. Tell your story in words, pictures and videos and start raising money in just minutes. We give you help and advice every step of the way.</p>
                        <p style="padding-left:70px;font-size:15px;font-weight:bold;padding-top:20px;"><i class="fa fa-hand-o-right" style="font-size:24px"></i> <u>Tips</u></p>
                        <p style="padding-left:127px;font-size:14px;font-weight:bold;">Compelling Stories & posts</p>
                        <p style="margin-top:-6px;padding-left:127px;font-size:14px;">Show potential donors how they can help by telling a compelling story, uploading several pictures and videos, and posting updates.</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><img src="~/img/Home/home/33.png" style="width:75%;margin-top:17%" /></div>
                </div>
            </div>
            <div class="row">
                <div class="ed_event_single_info" style="padding-left: 2%; padding-top: 5%; margin-left: 5%;">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <p style="margin-left:10px;font-size:24px;font-weight:bold;"><u>Step 2</u></p>
                        <p style="margin-left:65px;font-size:20px;font-weight:bold;margin-bottom:1px;margin-top:25px;">Share</p>
                        <p style="padding-left:67px;font-size:16px;">Share your event on  <i class="fa fa-facebook-official"> Facebook,</i> <i class="fa fa-twitter"> Twitter,</i> <i class="fa fa-google-plus-square"> Google+,</i> blogs and email. DonateNeedy engages your supporters and grows your funding.</p>
                        <p style="padding-left:70px;font-size:15px;font-weight:bold;padding-top:20px;"><i class="fa fa-hand-o-right" style="font-size:24px"></i> <u>Tips</u></p>
                        <p style="padding-left:132px;font-size:14px;font-weight:bold;">Blog-Like Updates & Commenting</p>
                        <p style="margin-top:-6px;padding-left:132px;font-size:14px;">Keep your story going by adding rich posts to your page to share with supporters, friends and colleagues.</p>
                        <p style="padding-left:132px;font-size:14px;font-weight:bold;">Supporter & Donor Actions Get Posted To</p>
                        <p style="margin-top:-6px;padding-left:132px;font-size:14px;">Anyone that donates, supports, "likes" or comments on your page shows up in your activity feed. This helps show new visitors how others got involved and makes them move likely to do so as well.</p>
                        <p style="padding-left:132px;font-size:14px;font-weight:bold;">Facebook Connect Helps Friends Know When They Support Or Donate To Your Events</p>
                        <p style="margin-top:-6px;padding-left:132px;font-size:14px;">Every event page features Facebook connected supporters first because their involvement gets you the most social impressions and alerting them of things like making a donation or starting a personal fundraiser.</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <img src="~/img/Home/home/11.png" style="width:75%;margin-top:17%" />
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom:5%;">
                <div class="ed_event_single_info" style="padding-left: 2%; padding-top: 5%; margin-left: 5%;">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <p style="margin-left:10px;font-size:24px;font-weight:bold;"><u>Step 3</u></p>
                        <p style="margin-left:65px;font-size:20px;font-weight:bold;margin-bottom:1px;margin-top:25px;">Receive</p>
                        <p style="padding-left:67px;font-size:16px;">Collect secure online payments by credit card, debit and PayPal. With our Keep it all option, you can access the money immediately. DonateNeedy provides free fundraising, which means we don’t charge a thing. The donation processor does, however, take 2.9%, plus $.30 per transaction.</p>
                        <img src="~/img/Home/home/receive.jpg" alt="receive image" style="padding-left:59px;" />
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <img src="~/img/Home/home/22.png" style="width:75%;margin-top:17%" />
                    </div>
                </div>
            </div>
            <button type="button" class="donatebutton Donate-Now pull-right" style="outline:none;" onclick="location.href='@Url.Action("Index", "Home")'">Back To Home</button>
        </div>
    </div>

</div>


